.about-container {
    text-align: center;
    ul {
        padding: 0;
        li {
        list-style-type: none;
        }
    }
    a:link {
        color: brown;
        text-decoration: underline;
    }
    a:visited {
        color: brown;
        text-decoration: underline;
    }
    a:hover {
        color: brown;
        text-decoration: underline;
    }
}

@media (orientation: portrait),
(max-width: 650px) {
    .about-container {
        // padding: 10px;
        // width: 85%;
    }
}