.about-container {
    // border: 2px solid black;
    display: flex;
    flex-direction: column;
    // align-items: center;
    text-align: center;
    align-self: center;
    // border-radius: 10px;
    width: 70%;
    position: relative;
    // margin-bottom: 40px;
    ul {
        // margin: 10;
        padding: 0;
        li {
        list-style-type: none;
        }
    }
    a:link {
        color: brown;
        text-decoration: underline;
    }
    a:visited {
        color: brown;
        text-decoration: underline;
    }
    a:hover {
        color: brown;
        text-decoration: underline;
    }
}

@media (orientation: portrait),
(max-width: 650px) {
    .about-container {
        padding: 10px;
        width: 85%;
    }
}