/* Element styling */
.brewery {
    .details {
        display: flex;
        justify-content: center;
    }
    .brewery-header{
        display:flex;
        justify-content: space-between;
        width:95%;
    }
    .brewery-details-header {
        margin-left: 8%;
    }
    .random-brewery-button {
        // width: 4rem;
        background-color: transparent;
        border:2px solid white;
        border-radius:1rem;
        // font-size:1rem;
        display:flex;
        justify-content: center;
        p{
        padding:1rem;
        }
    }
    .random-brewery-button:hover{
        background-color: white;
        }

    .brewery-container {
        display: flex;
        justify-content: space-evenly;
        padding: 2rem;
        width: 80%;
    }

    .brewery-info {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        padding: 10px;
    }

    .brewery-info p {
        margin: 0 0 0 16px;
    }

    .map-container {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px;
        height: 350px;
        width: 100%;
    }

    .no-map {
        flex-direction: column;
    }

    .empty-mug {
        transform: rotate(-135deg);
        color: #AAAAAA;
    }

    .brewery-name {
        font-family: 'Special Elite', cursive;
        font-size: 1.75rem;
        margin: 0;
    }

    .brewery-type {
        margin: 0 0 16px 0;
    }
}

/* Media queries */
@media (orientation: portrait) {
    p {
        font-size: 0.8rem;
    }

    .brewery-container {
        display: block;
    }

    .brewery-container {
        margin: 0px;
        width: 90%;
    }

    .brewery-info {
        width: 100%;
        padding: 24px 0 0 0;
    }

    .brewery-name {
        font-size: 2rem;
    }

    .map-container {
        padding: 0;
    }
}