/* Element styling */
.brewery {
    p {
        font-size: 1rem;
    }

    a {
        color: black;
        text-decoration: none;
    }

    a:link {
        color: black;
        text-decoration: none;
    }

    a:visited {
        color: brown;
        text-decoration: none;
    }

    a:hover {
        color: brown;
        text-decoration: none;
    }

    a:active {
        color: brown;
        text-decoration: none;
    }

    .brewery-header {
        display: flex;
        justify-content: space-around;
    }

    .brewery-details-header {
        margin: 0;
    }

    button {
        background-color: white;
        border: 2px solid white;
        border-radius: .25rem;
        align-items: center;

        span {
            font-size: 1rem;
        }
    }

    button:hover {
        background-color: brown;
        border: 2px solid brown;
        // box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        box-shadow: 0 0 12px 1px rgba(0, 0, 0, 0.5);
        color: white;
    }

    .details {
        display: flex;
        justify-content: center;
    }

    .brewery-container {
        // border: 1px dashed red;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        padding: 2rem;
        width: 80%;
    }

    .brewery-info {
        // border: 1px dashed blue;
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 4px;
        text-align: left;
        padding: 10px;
    }

    .brewery-info p {
        margin: 0 0 0 16px;
    }

    .map-container {
        // border: 1px dashed green;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px;
        height: 350px;
        width: 100%;
    }

    .no-map {
        flex-direction: column;
    }

    .empty-mug {
        transform: rotate(-135deg);
        color: #AAAAAA;
    }

    .brewery-name {
        font-family: 'Special Elite', cursive;
        font-size: 1.75rem;
        margin: 0;
    }

    .brewery-type {
        margin: 0 0 16px 0;
    }
}

/* Media queries */
@media (orientation: portrait) {
    .brewery {
        p {
            font-size: 0.8rem;
        }

        .brewery-container {
            display: block;
            margin: 0px;
            width: 100%;
        }

        .brewery-info {
            width: 100%;
            padding: 24px 0 0 0;
        }

        .brewery-name {
            font-size: 2rem;
        }

        .map-container {
            padding: 0;
        }
    }
}