/* Class styling */
.about-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    align-self: center;
    padding: 12px;
    border: 2px solid black;
    border-radius: 10px;
    width: 70%;
    position: relative;
    margin-bottom: 40px;
}

.about-container ul {
    margin: 10;
    padding: 0;
}

.about-container ul li {
    list-style-type: none;
}

.about-container a {
    color: brown;
    text-decoration: underline;
}

.about-container a:link {
    color: brown;
    text-decoration: underline;
}

.about-container a:visited {
    color: brown;
    text-decoration: underline;
}

.about-container a:hover {
    color: brown;
    text-decoration: underline;
}

@media (orientation: portrait),
(max-width: 650px) {
    .about-container {
        padding: 10px;
        width: 85%;
    }
}