@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:wght@400&family=Special+Elite&display=swap');
.app{
background-image:url('./assets/beer-bg.png');
background-position:40% 13%;
}
/* Element styling */
body {
    // background-color: #000000;
    font-family: 'IBM Plex Serif', serif;
    h2, p, form {
        // margin-left: 20px;
    }
    p {
        // font-size: 1rem;
    }
}



/* Class styling */
.logo {
    font-family: 'Special Elite', cursive;
    font-size: 3.75rem;
    margin-left: 6%;
}

.site-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 0;
}

.beer-glass {
    // background-image: linear-gradient(to right, white, #ffd54f 10%, #fbcc31 30%, #fbcc31 70%, #ffd54f 90%, white);
    // border: 8px solid white;
    position: relative;
    display: flex;
    flex-flow: column;
    // width: 80%;
    min-height: 100vh;
    border-top: none;
    overflow: hidden;
}

.header-div {
    // position: relative;
    padding: 0;
    margin-left: 20px;
}

.nav {
    // margin: 0 12.5%;
    display: flex;
    justify-content: center;
    // background-image: radial-gradient(at bottom, white 55%, black 58%);
    background-image:transparent;
    align-items: flex-end;
    height: 6vh;
    padding: 0 0 12px;
        p{
            font-weight: 600;
            margin: 0px 32px;
        }
        a{
            color: black;
            text-decoration: none;
        }
}

.inner-bubbles {
    position: absolute;
    width: .5rem;
    height: .5rem;
    border-radius: 50%;
    // background: #cf8d2e;
    border:1px solid #cf8d2e;
    bottom: 0;
    opacity: 0;
}

/* Animation classes and keyframes */
.inner-bubble-1 {
    left: 16%;
    animation: inner-bubble-up 4.5s linear 3.1s forwards infinite;
}

.inner-bubble-2 {
    left: 31%;
    animation: inner-bubble-up 4.5s linear 2.9s forwards infinite;
}

.inner-bubble-3 {
    left: 47%;
    animation: inner-bubble-up 4.5s linear 2.7s forwards infinite;
}

.inner-bubble-4 {
    left: 54%;
    animation: inner-bubble-up 4s linear 2.9s forwards infinite;
}

.inner-bubble-5 {
    left: 66%;
    -webkit-animation: inner-bubble-up 4.5s linear 3s forwards infinite;
    animation: inner-bubble-up 4.5s linear 3s forwards infinite;
}

.inner-bubble-6 {
    left: 80%;
    animation: inner-bubble-up 4.5s linear 4.1s forwards infinite;
}

@keyframes inner-bubble-up {
    0% {
        bottom: 0;
        opacity: 0.9;
    }

    85% {
        bottom: 110%;
        opacity: 0.0;
    }
}

/* Media queries */
@media (min-width: 1536px){
    // 2xl media calls
}
@media (min-width:1280px){
    // xl media calls
}
@media (min-width:1024px){
    // lg media calls
}
@media (min-width:768){
    // md media calls
}
@media (min-width:640px){
    // sm media calls
}

@media (orientation: portrait),
(max-width: 650px) {
    p {
        font-size: 0.8rem;
    }

    .beer-glass {
        position: relative;
        // background-image: linear-gradient(to right, white, #ffd54f 10%, #fbcc31 40%, #fbcc31 60%, #ffd54f 90%, white);
        width: 91%;
    }

    .nav {
        margin: 0 1%;
        // background-image: radial-gradient(at bottom, white 63%, black 68%);
        height: 5.5vh;
        padding: 0 0 8px;
    }

    .nav p {
        margin: 0 10px;
        font-size: 0.9rem;
    }

    .logo {
        font-size: 2rem;
        margin-left: 0;
    }
}