.details {
    display: flex;
    justify-content: center;
}
.random-brewery-button {
    margin-left: 20px;
    width: 120px;
}
.brewery-container {
    display: flex;
    justify-content: space-evenly;
    margin: 20px;
    width: 70%;
}
.brewery-info {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.brewery-info p {
    margin: 0 0 0 16px;
}
.map-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    height: 350px;
    width: 350px;
    width: 50%;
}
.empty-mug {
    transform: rotate(-135deg);
    color: #AAAAAA;
}
.brewery-name {
    font-family: 'Special Elite', cursive;
    font-size: 30px;
}

@media only screen and (max-width:650px){
    .brewery-container{
        display:block;
    }
    .brewery-info{
        width:100%;
    }
    .map-container{
        width:100%;
    }
}