.brewery-container {
    display:flex;
    justify-content: space-evenly;
    margin:20px;
    z-index: 2;
  }
  .map-container{
    padding:10px;
    height:350px;
    width:350px;
  }
  .brewery-name{
    font-size:30px;
  }
  