/* Element styling */
p {
    font-size: 1rem;
}

/* Class styling */
.details {
    /* border: 1px dashed red; */
    display: flex;
    justify-content: center;
}

.random-brewery-button {
    margin-left: 20px;
    width: 120px;
}

.brewery-container {
    display: flex;
    justify-content: space-evenly;
    margin: 20px 20px 20px 50px;
    width: 70%;
}

.brewery-info {
    /* border: 1px dashed blue; */
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 10px;
}

.brewery-info p {
    margin: 0 0 0 16px;
}

.map-container {
    /* border: 1px dashed purple; */
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    height: 350px;
    width: 100%;
}

.no-map {
    flex-direction: column;
}

.empty-mug {
    transform: rotate(-135deg);
    color: #AAAAAA;
}

.brewery-name {
    font-family: 'Special Elite', cursive;
    font-size: 1.75rem;
    margin: 0;
}

.brewery-type {
    margin: 0 0 16px 0;
}

/* Media queries */
@media (orientation: portrait) {
    p {
        font-size: 0.8rem;
    }

    .brewery-container {
        display: block;
    }

    .brewery-container {
        /* display: flex; */
        /* justify-content: space-evenly; */
        margin: 0px;
        width: 90%;
    }

    /* .brewery-info {
        border: 1px dashed blue;
        width: 50%;
        display: flex;
        flex-direction: column;
        gap: 8px;
        padding: 10px;
    }
    
    .brewery-info p {
        margin: 0 0 0 16px;
    }
    
    .map-container {
        border: 1px dashed purple;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px;
        height: 350px;
        width: 50%;
    } */

    .brewery-info {
        width: 100%;
        padding: 24px 0 0 0;
        /* margin: 0 auto; */
    }

    .brewery-name {
        /* font-family: 'Special Elite', cursive; */
        font-size: 2rem;
        /* margin: 0; */
    }

    .map-container {
        /* width: 100%; */
        /* justify-content: center; */
        /* margin: 0 auto; */
        padding: 0;
    }
}